@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    top: 10px;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #555;
    position:fixed;
}
.navbar:hover {
    box-shadow: 5px 5px 10px #000;
}
a {
    color: white;
    text-decoration: none;

}
a:hover {
    color: rgb(0,255,0);
}
.images {
    margin-top: 6rem;
}
img {
    height: 500px;
    width: 100%;
    border-radius: 8px;
}